* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.error-message {
    color: red;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    padding: 20px;
    overflow-y: auto;
}

.head {
    text-align: left;
    margin-bottom: 30px;
    color: #333;
    width: 100%;
}

.head p {
    font-size: 32px;
    font-weight: bold;
    color: #094f9a;
}

.home-button{
    font-size: 15px;
    font-weight: bold;
    color: #094f9a;
}

.windFarms {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 200px;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 10%;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.buttonHome{
    background-color: #0056b3;
    width: 10%;
    transform: translateY(-3px);
}

.farms-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 13px;
    padding: 0;
    max-width: 100%;
}

.farm-item {
    background-color: #e9f7fe;
    color: #333;
    font-size: 16px;
    padding: 8px 12px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: auto;
    box-sizing: border-box; 
}

.farm-item:hover {
    background-color: #d1e7f9;
}

.windFarms p {
    font-size: 18px;
    color: #007BFF;
    font-weight: bold;
}

.windFarmInfo {
    margin: 30px;
}

#mapId {
    height: 300px;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.turbine-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-btn {
    margin-left: 100%;
    width: 12%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: darkred;
}

/* Modal Header */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999;; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    position: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    margin: 15px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.modal-footer {
    text-align: right;
}

#modal-delete-wt{
    display: inline; 
    justify-content: center; 
    align-items: center; 
    gap: 100px;
}

#selectOnMap{
    width: 100%;
}